[submodule "path/to/folder"]
	path = path/to/folder
	url = https://github.com/Ekansh90/Restaurant-website.git
[submodule "restaurant-website"]
	path = restaurant-website
	url = https://github.com/Ekansh90/Restaurant-website.git
[submodule "data-analysis-files"]
	path = data-analysis-files
	url = https://github.com/Ekansh90/PowerBi-Dashboards-and-Files.git
